.row.footer.info > .col {
    max-width: 200px;
}

.song-card:hover {
    background-color: rgb(72, 75, 78);
    cursor: pointer;
}

.song-card {
    text-align: right;
    margin-bottom: 1rem;
    background-color: rgb(33, 37, 41);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 10px;
    padding: 8px;
    box-shadow: 2px 2px 2px black;
}

.card-play {
    position: absolute;
    font-size: 2em;
}